.about {
  padding: 100px 80px;
  background-color: #f5f5f5;
}

.about-content {
  max-width: 800px;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about p {
  font-size: 18px;
  line-height: 1.7;
  color: #333;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  padding: 20px 80px;
  color: white;
}

nav h2 {
  margin: 0;
}

nav div {
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: gold;
}

.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
  color: white;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

.hero button {
  padding: 12px 25px;
  font-size: 16px;
  background-color: gold;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.hero button:hover {
  background-color: #d4af37;
}